networks:
    default:
        name: court-1

services:
    mysql:
        container_name: court-1-mysql
        image: mysql:8.4.7
        ports:
            - 3306:3306
        command:
            [
                "--character-set-server=utf8mb4",
                "--collation-server=utf8mb4_general_ci"
            ]
        volumes:
            - ../data/mysql:/var/lib/mysql
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: "Court-1.Root@123"
            MYSQL_DATABASE: "court_1"

    redis:
        container_name: court-1-redis
        image: redis:8
        ports:
            - 6379:6379
        restart: always

    directus:
        container_name: court-1-directus
        image: directus/directus:11.14.0
        ports:
            - 8055:8055
        depends_on:
            - mysql
            - redis
        volumes:
            - ../data/directus/extensions:/directus/extensions
            - ../data/directus/templates:/directus/templates
            - ../data/directus/uploads:/directus/uploads
        restart: always
        environment:
            SECRET: "SECRET-ABC-XYZ-123-END"
            DB_CLIENT: "mysql"
            DB_HOST: "mysql"
            DB_PORT: 3306
            DB_USER: "root"
            DB_PASSWORD: "Court-1.Root@123"
            DB_DATABASE: "court_1"
            CACHE_ENABLED: true
            CACHE_STORE: "redis"
            CACHE_AUTO_PURGE: true
            REDIS_HOST: "redis"
            REDIS_PORT: 6379
            SESSION_COOKIE_SECURE: true
            ADMIN_EMAIL: "admin@example.com"
            ADMIN_PASSWORD: "Court-1.Admin@123"
            WEBSOCKETS_ENABLED: true
            CORS_ENABLED: true
            CORS_ORIGIN: "https://cuddly-trout-4jv547pr97v43qgx-3000.app.github.dev"
            PUBLIC_URL: &PUBLIC_URL "https://cuddly-trout-4jv547pr97v43qgx-8055.app.github.dev"

    next:
        container_name: court-1-next
        build:
            context: ../source
            dockerfile: next.dockerfile
            args:
                SECRET_KEY: "SECRET-ABC-XYZ-123-ENCRYPTION"
                DATA_URL: "http://directus:8055"
                COOKIE_ACCESS_TOKEN: "court_access_token"
                COOKIE_LANGUAGE_LOCALE: "court_language_locale"
                COOKIE_SIDEBAR_EXPANDED: "court_sidebar_expanded"
                NEXT_PUBLIC_DATA_URL: *PUBLIC_URL
        ports:
            - 3000:3000
        depends_on:
            - directus
        volumes:
            - ../source/src:/next/src
        restart: always